<!-- Favicon Icons -->
<link
  rel="icon"
  type="image/png"
  href="/static/images/favicon/favicon-32x32.png"
  sizes="32x32"
/>
<link
  rel="icon"
  type="image/png"
  href="/static/images/favicon/favicon-16x16.png"
  sizes="16x16"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="/static/images/favicon/favicon.svg"
/>
<link rel="shortcut icon" href="/static/images/favicon/favicon.ico" />

<!-- Apple Touch Icon -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="/static/images/apple-touch-icon.png"
/>

<!-- Web App Title for iOS -->
<meta name="apple-mobile-web-app-title" content="Dihedral Angle Calculator" />

<!-- Web Manifest -->
<link rel="manifest" href="/static/images/site.webmanifest" />

<!-- Preload Favicon for Performance -->
<link
  rel="preload"
  href="/static/images/favicon/favicon-32x32.png"
  as="image"
  type="image/png"
  sizes="32x32"
/>
