<!-- Footer Section -->
<footer class="bg-dark text-white py-4 mt-1">
  <div class="container text-center">
    <p class="mb-1">
      &copy; 2024 Dihedral Angle Calculator | All Rights Reserved
    </p>

    <!-- Designer Info -->
    <p class="mb-2 footer-text">
      <span>Designed and Developed by</span>
      <a
        href="https://www.instagram.com/omprakash24d/"
        target="_blank"
        class="footer-link"
        aria-label="Om Prakash"
        >Om Prakash</a
      >
    </p>

    <!-- University Info -->
    <p class="mb-4">
      Central University Of South Bihar (Department Of Bioinformatics)
    </p>

    <!-- Social Media Links -->
    <nav>
      <ul class="list-unstyled d-flex justify-content-center social-icons">
        <li>
          <a
            href="https://www.instagram.com/omprakash24d/"
            target="_blank"
            class="text-white mx-3 social-icon"
            aria-label="Instagram"
            role="link"
            ><i class="fab fa-instagram"></i
          ></a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/omprakash24d/"
            target="_blank"
            class="text-white mx-3 social-icon"
            aria-label="LinkedIn"
            role="link"
            ><i class="fab fa-linkedin"></i
          ></a>
        </li>
        <li>
          <a
            href="mailto:omprakash24d@gmail.com"
            class="text-white mx-3 social-icon"
            aria-label="Email"
            role="link"
            ><i class="fas fa-envelope"></i
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
