<!-- Overview Section -->
<section class="py-1" id="overview">
  <div class="container">
    <div class="row g-5">
      <div class="col-12">
        <h3 class="mb-4 text-dark fw-bold">About the Tool</h3>
        <p class="text-muted">
          The <strong>Dihedral Angle Calculator</strong> is a web-based tool
          designed to calculate <strong>Phi (Φ)</strong> and
          <strong>Psi (Ψ)</strong> dihedral angles for all residues in a protein
          structure from a <code>.pdb</code> file or its PDB ID. View results in
          an interactive table or download them in CSV, Excel, PDF, and TXT
          formats.
        </p>
      </div>
    </div>
  </div>
</section>
