<div class="container mt-1">
  <h2 class="text-xl md:text-2xl font-bold mb-4 text-center">
    Share the Dihedral Angle Calculator
  </h2>
  <p class="text-center text-gray-700 mb-6">
    Help others discover the Dihedral Angle Calculator by sharing it on your
    favorite platform!
  </p>
  <!-- Row to center the share buttons -->
  <div class="row justify-content-center">
    <div class="col-3 col-md-3 mb-1">
      <a
        href="https://www.facebook.com/sharer/sharer.php?u=https://pdb.indhinditech.com/"
        target="_blank"
        class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center p-2 rounded-3"
        aria-label="Share on Facebook"
        title="Help others: Share the Dihedral Angle Calculator on Facebook"
      >
        <i class="bi bi-facebook fs-3 me-2"></i>
        <span class="d-none d-md-inline">Share on Facebook</span>
      </a>
    </div>

    <!-- Twitter Share Button -->
    <div class="col-3 col-md-3 mb-3">
      <a
        href="https://twitter.com/intent/tweet?url=https://pdb.indhinditech.com/&text=Dihedral Angle Calculator using PDB ID or PDB File."
        target="_blank"
        class="btn btn-outline-info w-100 d-flex align-items-center justify-content-center p-2 rounded-3"
        aria-label="Share on Twitter"
        title="Share the Dihedral Angle Calculator on Twitter to help others with PDB calculations."
      >
        <i class="bi bi-twitter fs-3 me-2"></i>
        <span class="d-none d-md-inline">Share on Twitter</span>
      </a>
    </div>

    <div class="col-3 col-md-3 mb-3">
      <a
        href="https://www.linkedin.com/sharing/share-offsite/?url=https://pdb.indhinditech.com/"
        target="_blank"
        class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center p-2 rounded-3"
        aria-label="Share on LinkedIn"
        title="Share the Dihedral Angle Calculator on LinkedIn to help others with PDB calculations."
      >
        <i class="bi bi-linkedin fs-3 me-2"></i>
        <span class="d-none d-md-inline">Share on LinkedIn</span>
      </a>
    </div>

    <!-- WhatsApp Share Button -->
    <div class="col-3 col-md-3 mb-3">
      <a
        href="https://api.whatsapp.com/send?text=Check%20out%20this%20Dihedral%20Angle%20Calculator:%20The%20Dihedral%20Angle%20Calculator%20is%20a%20web-based%20tool%20designed%20to%20calculate%20Phi%20(Φ)%20and%20Psi%20(Ψ)%20dihedral%20angles%20for%20all%20residues%20in%20a%20protein%20structure%20from%20a%20.pdb%20file%20or%20its%20PDB%20ID.%20View%20results%20in%20an%20interactive%20table%20or%20download%20them%20in%20CSV,%20Excel,%20PDF,%20and%20TXT%20formats.%20%0A%0AYou%20can%20access%20it%20here:%20https://pdb.indhinditech.com"
        target="_blank"
        class="btn btn-outline-success w-100 d-flex align-items-center justify-content-center p-2 rounded-3"
        aria-label="Share on WhatsApp"
        title="Share the Dihedral Angle Calculator on WhatsApp with your friends."
      >
        <i class="bi bi-whatsapp fs-3 me-2"></i>
        <span class="d-none d-md-inline">Share on WhatsApp</span>
      </a>
    </div>
  </div>
</div>
